<!DOCTYPE html>
<html>
<head>
  <title>WorkingWithBase</title>
  <%= stylesheet_link_tag("styles1", :media => 'all')%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
